<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login Alquiler Hardware</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form th:action="@{/login}" method="POST" class="form-signin">
        <h3>Bienvenido a Reservas</h3>
        <br/>

        <input type="text" id="user_name" name="user_name" placeholder="User Name"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
          <p style="font-size:20px ; color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>
        <button class="btn btn-block" style="background-color: #186A3B; color: white;" name="Submit" value="Login" type="Submit"
                th:text="Entrar"></button>
      </form>
      <br>
      <form th:action="@{/register}" method="get" class="form-signin">
        <button class="btn btn-md btn-block" style="background-color: #212529; color: white;" type="Submit">Registrarse</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>