<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nacho el tio del cacho</title>
    <link rel="shortcut icon" href="img/nacho.svg">
    <link href="css/secreto.css" rel="stylesheet" >
</head>
<body>
    <video src="video/Clave%20A.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
    <audio autoplay loop>
        <source src="audio/secreto.ogg" type="audio/mp3">
  </audio>
</body>
</html>